* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}


/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

.navcont {
  background-color: #4270D9;
  }

.navcont ul {
  list-style:none;
  margin-bottom: 1rem;
  padding: .25rem .25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  font-size: 1.25rem;
}

.navcont a {
  display: block;
  background-color: #4270D9;
  color: white;
  text-align: center;
  padding: .25rem .25rem;
  text-decoration: none;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

.logotext {
  font-weight: bold;
  color: #4270D9;
}

.logocat {
  float: left;
}
/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

.listsub {
  padding-top: 2rem;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
  width: 70%;
  margin: auto;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.prodcont {
  width: 90%;
  margin: auto;
  border: solid 1px #3D7FCF;
  border-radius: .5rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scarfitem {
  width: 50%;
  background: lightgrey;
  padding: 1rem;
  margin: .5rem;
  text-align: center;
  border: solid 1px #3D7FCF;
  border-radius: .5rem;
}

.scarfitem img {
   width: 50%;
   border: solid 1px #3D7FCF;
   border-radius: .5rem;
   margin-top: 1rem;
   margin-bottom: .5rem;
}
